<div class="cbx-popular-jobs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_title">
                    <h3>popular jobs</h3>
                    <p>Here you see, latest and atracttive jobs these are curently open</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{#each jobs}}
                <div class="jobs-wrapper">
                    <div class="job-badge hot">
                        <i class="fa fa-fire" aria-hidden="true"></i>
                    </div>
                    <div class="jobs-thumb">
                        <a href="jobs/{{id}}">
                            <img src="{{companyLogo}}" alt="Company" class="img-responsive" />
                        </a>
                    </div>
                    <div class="jobs-content">
                        <div class="jobs-content-left">
                            <h6><a href="jobs/{{id}}">id {{id}} {{title}}</a></h6>
                            <div class="jobs-meta">
                                <ul>
                                    <li>
                                        <label class="label label-default recruitz-btn full-time">{{jobType}}</label>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-sitemap" aria-hidden="true"></i> {{category}}
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i> {{location}}
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> {{lastDate}}
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="jobs-content-right">
                            <a href="jobs/{{id}}" class="btn btn-default recruitz-btn">Apply Now</a>
                        </div>
                    </div>
                </div>
                {{/each}}


            </div>
        </div>
    </div>
</div>